<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">

      <h2>want to learn a new language?</h2>

      <h1>Learn the 100 most used words</h1>
      <h2>by memorizing them in differents contexts</h2>

      <p>pick a language:</p>

    </div>
  </div>
</div>
